.intro-2 {
  background: url("../../../../assets/images/build-muscle.jpg") no-repeat center center;
  background-size: cover;
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}

h6 {
  line-height: 1.7;
}

.view {
  height: 100%;
}

#login-section {

  .card {
  }
}


