#dashboard{
    
    min-height: 100vmin;
    
    .container {
        max-width: 80%;

        .blue-gradient{
            background: linear-gradient(40deg,#45cafc,#4285f4);
        }    

        .gradient-card-header{
            margin-left: 4%;
            margin-right: 4%;
            margin-top: -20px;
            border-radius: 4px;
            color: #fff!important;
            text-align: center;
            padding: 1rem;
            -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.15), 0 3px 12px 0 rgba(0,0,0,.15);
            box-shadow: 0 3px 10px 0 rgba(0,0,0,.15), 0 3px 12px 0 rgba(0,0,0,.15);

            .h2-responsive {
                font-weight: 400;
                text-align: center;
                
            }
            
            color: #fff!important;
        
        }
    }


}