<!-- section: inscription card -->
<section id="dashboard" class="pt-5 mt-5 pb-3">
  <div class="container">
    <div class="card card-cascade narrower">
      <section>
        <div class="row">
          <div class="col-xl-5 col-lg-12 mr-0">
            <div class="view gradient-card-header blue-gradient">
              <h2 class="h2-responsive mb-0">Nombre d'inscription</h2>
            </div>
            <div class="card-body pb-0">
              <!-- radiobutton pour choix entre jour/semaine/mois/année -->
              <div class="card-body pt-3">
                <div class="col">
                  <p class="lead">
                    <span class="badge info-color p-2">Periode</span>
                  </p>
                  <select class="custom-select">
                    <option selected>Choisir une periode</option>
                    <option value="angular">Angular</option>
                    <option value="bootstrap">Bootstrap</option>
                    <option value="jquery">JQuery</option>
                  </select>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-7 col-lg-12 mb-r">

            <div class="view gradient-card-header light-blue">
              <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
                [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
              </canvas>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>