<!--Section: Personal card-->
<section id="community" class="pt-5 mt-5 pb-3">
  <div class="container">
    <h2>Communauté</h2>

    <div class="card my-4">
      <div class="card-body text-center">
        <input type="text" placeholder="Recherche par login...">
        <form class="py-2">
          <div class="btn-group-justified">
            <label class="btn btn-elegant waves-light" [(ngModel)]="checkModel.bronze" name="bronze" mdbCheckbox
                   mdbRippleRadius>
              Bronze
            </label>
            <label class="btn btn-elegant waves-light" [(ngModel)]="checkModel.silver" name="silver" mdbCheckbox
                   mdbRippleRadius>
              Silver
            </label>
            <label class="btn btn-elegant waves-light" [(ngModel)]="checkModel.gold" name="gold" mdbCheckbox
                   mdbRippleRadius>
              Gold
            </label>
          </div>
        </form>
      </div>
    </div>


    <div class="row" >
      <div class="col-md-4 col-lg-3 mb-4" *ngFor="let number of [0,1,2,3,4]">
       <app-member-item></app-member-item>
      </div>
    </div>
  </div>

</section>
<!--Section: Personal card-->
