<section id="exercises" class="pt-5 mt-5 pb-3">
  <div class="container">
    <div class="row">
      <!--bodyparts-->
      <div class="col-md-3">
        <div class="list-group">
          <a class="list-group-item active">
            Cras justo odio
          </a>
          <a class="list-group-item">Dapibus ac facilisis in</a>
          <a class="list-group-item">Morbi leo risus</a>
          <a class="list-group-item">Porta ac consectetur ac</a>
          <a class="list-group-item">Vestibulum at eros</a>
        </div>
      </div>
      <!--/bodyparts-->

      <!--exercises-->
      <div class="col-md-9">
        <div class="card card-cascade narrower">
          <div class="card-body">
            <!--Small news-->
            <div class="single-news">

              <div class="row">
                <div class="col-md-3">

                  <!--Image-->
                  <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg"
                         alt="Minor sample post image">
                    <a>
                      <div class="mask"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-9">
                  <p><strong>Développé couché</strong></p>
                  <a class="pb-2">description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus,
                    reiciendis.
                    <i class="fa fa-angle-right"></i>
                  </a>

                  <dl class="row mt-3 mb-0">
                    <dt class="col-sm-3">Main Muscle Group:</dt>
                    <dd class="col-sm-9">Legs</dd>

                    <dt class="col-sm-3">Type:</dt>
                    <dd class="col-sm-9">Strength</dd>

                    <dt class="col-sm-3">Equipement:</dt>
                    <dd class="col-sm-9">Bands</dd>

                  </dl>

                </div>

              </div>
            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

              <div class="row">
                <div class="col-md-3">

                  <!--Image-->
                  <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg"
                         alt="Minor sample post image">
                    <a>
                      <div class="mask"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-9">
                  <p><strong>Développé couché</strong></p>
                  <a class="pb-2">description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus,
                    reiciendis.
                    <i class="fa fa-angle-right"></i>
                  </a>

                  <dl class="row mt-3 mb-0">
                    <dt class="col-sm-3">Main Muscle Group:</dt>
                    <dd class="col-sm-9">Legs</dd>

                    <dt class="col-sm-3">Type:</dt>
                    <dd class="col-sm-9">Strength</dd>

                    <dt class="col-sm-3">Equipement:</dt>
                    <dd class="col-sm-9">Bands</dd>

                  </dl>

                </div>

              </div>
            </div>
            <!--/Small news-->

            <!--Small news-->
            <div class="single-news">

              <div class="row">
                <div class="col-md-3">

                  <!--Image-->
                  <div mdbRippleRadius class="view overlay hm-white-slight waves-light">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(93).jpg"
                         alt="Minor sample post image">
                    <a>
                      <div class="mask"></div>
                    </a>
                  </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-9">
                  <p><strong>Développé couché</strong></p>
                  <a class="pb-2">description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus,
                    reiciendis.
                    <i class="fa fa-angle-right"></i>
                  </a>

                  <dl class="row mt-3 mb-0">
                    <dt class="col-sm-3">Main Muscle Group:</dt>
                    <dd class="col-sm-9">Legs</dd>

                    <dt class="col-sm-3">Type:</dt>
                    <dd class="col-sm-9">Strength</dd>

                    <dt class="col-sm-3">Equipement:</dt>
                    <dd class="col-sm-9">Bands</dd>

                  </dl>

                </div>

              </div>
            </div>
            <!--/Small news-->
          </div>
        </div>
      </div>
      <!--/exercises-->

    </div>
  </div>
</section>
