<ngu-carousel class="carouselAlign"
              [inputs]="carouselOne"
              (carouselLoad)="myfunc($event)">
  <ngu-item NguCarouselItem>
    <div class="carousselCards">
    <!-- Card Narrower -->
    <div class="card card-cascade narrower mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Label -->
        <h5 class="dark-grey-text pb-2 pt-1"><i class="fa fa-angellist"></i> Silver</h5>
        <!-- Title -->
        <h4 class="card-title">Julia Peralta</h4>
        <!-- Text -->
        <p class="card-text">Inscription: 25/10/2012</p>
        <p class="card-text">Objectif: Raffermir les fessiers.</p>
        <!-- Button -->
        <a class="btn btn-elegant waves-effect waves-light">Voir le profil</a>

      </div>

    </div>
    <!-- Card Narrower -->
    <!-- Card Narrower -->
    <div class="card card-cascade narrower mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Label -->
        <h5 class="dark-grey-text pb-2 pt-1"><i class="fa fa-angellist"></i> Silver</h5>
        <!-- Title -->
        <h4 class="card-title">Julia Peralta</h4>
        <!-- Text -->
        <p class="card-text">Inscription: 25/10/2012</p>
        <p class="card-text">Objectif: Raffermir les fessiers.</p>
        <!-- Button -->
        <a class="btn btn-elegant waves-effect waves-light">Voir le profil</a>

      </div>

    </div>
    <!-- Card Narrower -->
    <!-- Card Narrower -->
    <div class="card card-cascade narrower mb-4">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Label -->
        <h5 class="dark-grey-text pb-2 pt-1"><i class="fa fa-angellist"></i> Silver</h5>
        <!-- Title -->
        <h4 class="card-title">Julia Peralta</h4>
        <!-- Text -->
        <p class="card-text">Inscription: 25/10/2012</p>
        <p class="card-text">Objectif: Raffermir les fessiers.</p>
        <!-- Button -->
        <a class="btn btn-elegant waves-effect waves-light">Voir le profil</a>

      </div>

    </div>
    <!-- Card Narrower -->
    </div>

  </ngu-item>





  <ngu-item NguCarouselItem>
    Est vraiment fonctionnel, mais surtout...
  </ngu-item>
  <ngu-item NguCarouselItem>
    Le mec qui l'a implementé dechire de fou :O!! Quel BG.
  </ngu-item>
  <button NguCarouselPrev class='leftRs'>&lt;</button>
  <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel>
