<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-slide>
    <img class="d-block w-100" src="assets/images/slider1.jpg" alt="First slide">
    <div class="carousel-caption">
      <h2 class="h3-responsive">MusclR</h2>
      <a class="btn btn-outline-white wow fadeInDown waves-light" data-wow-delay="0.4s" mdbRippleRadius>Inscrivez
        vous!</a>
    </div>
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <img class="d-block w-100" src="assets/images/slider2.jpg" alt="Second slide">
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <img class="d-block w-100" src="assets/images/slider3.jpg" alt="Third slide">
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>

<section id="centered-section" class="my-5">

  <!--Section heading-->
  <h1 class="section-heading pt-4">Why is it so great?</h1>
  <!--Section description-->
  <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  <!--/Section description-->
  <!--/Section heading-->

  <!--Grid row-->
  <div class="container-fluid">
    <div class="row">

      <!--/Grid column 1-->
      <div class="col-md-3 mb-r">
        <i class="fa fa-area-chart red-text"></i>
        <h5 class="feature-title">MongoDB</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--/Grid column 1-->

      <!--Grid column 2-->
      <div class="col-md-3 mb-r">
        <i class="fa fa-book cyan-text"></i>
        <h5 class="feature-title">Angular</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--/Grid column 2-->

      <!--Grid column 3-->
      <div class="col-md-3 mb-r">
        <i class="fa fa-coffee orange-text"></i>
        <h5 class="feature-title">Express</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--/Grid column 3-->

      <!--Grid column 4-->
      <div class="col-md-3 mb-r">
        <i class="fa fa-coffee orange-text"></i>
        <h5 class="feature-title">Node</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--/Grid column 4-->

    </div>
    <!--/Grid row-->
  </div>
</section>

<section id="splitted-section">
  <div class="row no-gutters">
    <!--Left-image-->
    <div class="col-md-6 workout-left">
    </div>
    <!--/Left-image-->

    <!--Right half-->
    <div class="col-md-6 ">
      <!--Grid row 1-->
      <div class="row mx-1">

        <div class="col-1">
          <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-5">
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Facilis, fuga incidunt qui quibusdam temporibus ullam.</p>
        </div>

        <div class="col-1">
          <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-5">
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Facilis, fuga incidunt qui quibusdam temporibus ullam.</p>
        </div>

      </div>
      <!--/Grid row 1-->

      <!--Grid row 2-->
      <div class="row mx-1">

        <div class="col-1 ">
          <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-5">
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Facilis, fuga incidunt qui quibusdam temporibus ullam.</p>
        </div>

        <div class="col-1">
          <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-5">
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Facilis, fuga incidunt qui quibusdam temporibus ullam.</p>
        </div>

      </div>
      <!--/Grid row 2-->

      <!--Grid row 3-->
      <div class="row mx-1">

        <div class="col-1">
          <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-5">
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Facilis, fuga incidunt qui quibusdam temporibus ullam.</p>
        </div>

        <div class="col-1 align-middle justify-center">
          <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-5">
          <h3>Lorem ipsum dolor sit amet.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Facilis, fuga incidunt qui quibusdam temporibus ullam.</p>
        </div>

      </div>
      <!--/Grid row 3-->
    </div>
    <!--/Right half-->
  </div>

</section>

