<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-slide>
    <img class="d-block w-100" src="assets/images/slider1.jpg" alt="First slide">
    <div class="carousel-caption">
      <h2 class="h3-responsive">MusclR</h2>
      <a class="btn btn-outline-white wow fadeInDown waves-light" data-wow-delay="0.4s" mdbRippleRadius>Inscrivez
        vous!</a>
    </div>
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <img class="d-block w-100" src="assets/images/slider2.jpg" alt="Second slide">
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <img class="d-block w-100" src="assets/images/slider3.jpg" alt="Third slide">
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>

<section class="centered-section">

  <!--Section heading-->
  <h1 class="section-heading pt-4">Why is it so great?</h1>
  <!--Section description-->
  <p class="section-description lead grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

  <!--Grid row-->
  <div class="container-fluid">
    <div class="row">

      <!--Grid column-->
      <div class="col mb-r">
        <i class="fa fa-area-chart red-text"></i>
        <h5 class="feature-title">MongoDB</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col mb-r">
        <i class="fa fa-book cyan-text"></i>
        <h5 class="feature-title">Angular</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col mb-r">
        <i class="fa fa-coffee orange-text"></i>
        <h5 class="feature-title">Express</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col mb-r">
        <i class="fa fa-coffee orange-text"></i>
        <h5 class="feature-title">Node</h5>
        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          aperiam minima assumenda deleniti hic.</p>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
</section>


<div class="row no-gutters">

  <div class="col">
    <img src="assets/images/workout_left.jpg" alt="left_image">
  </div>

  <div class="col">
    One of three columns
  </div>

</div>
