<section id="my-workout" class="pt-5 mt-5 pb-3">
  <div class="container">
    <h2 class="mb-4">Generate Your Workout</h2>

    <!--Section description-->
    <p>Answer the following questions for your personalized workout</p>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-6 col-md-12">

        <app-workout-generator></app-workout-generator>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12">

        <app-workout-walkthrough></app-workout-walkthrough>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
  </div>
</section>
