<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" routerLink="/"><strong>MusclR</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">News</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">Communauté</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">Exercices</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">Séances</a>
      </li>
      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Mon Profil<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary dropdown-menu-right" role="menu">
          <a class="dropdown-item waves-light" mdbRippleRadius>Mes statistiques</a>
          <a class="dropdown-item waves-light" routerLink="/scheduler" mdbRippleRadius>Mon planning</a>
          <a class="dropdown-item waves-light" mdbRippleRadius>Mes amis</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbRippleRadius (click)="logout()">Se déconnecter</a>
        </div>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/login">Se connecter</a>
      </li>
    </ul>
  </links>
</mdb-navbar>


