<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" routerLink="/"><strong>MusclR</strong></a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/news">News</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/community">Communauté</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/exercises">Exercices</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">Séances</a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item dropdown btn-group" dropdown *ngIf="isAuthenticated">
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
          Mon Profil<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary dropdown-menu-right" role="menu">
          <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/profile">Mes statistiques</a>
          <a class="dropdown-item waves-light" routerLink="/scheduler" mdbRippleRadius>Mon planning</a>
          <a class="dropdown-item waves-light" mdbRippleRadius>Mes amis</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbRippleRadius (click)="logout()">Se déconnecter</a>
        </div>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/login">Se connecter</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated" (click)="friendRequestNumber !=0 ? basicModal.show() : ''">
        <a class="nav-link waves-effect waves-light">{{friendRequestNumber}}
          <i class="fa fa-heart"></i>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Demande d'ami</h4>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <img src="../../../../assets/images/Julia.jpeg"/>
            <h5 class="mt-2 mb-1">Julia, 27</h5>
            <p class="card-text">Nouvelle recrue, MusclR.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mat-fab (click)="basicModal.hide(); updateFriendRequest()" color="" class="cross-button mx-5">
          <mat-icon style="color: red">close</mat-icon>
        </button>
        <button mat-fab (click)="basicModal.hide(); updateFriendRequest()" color="" class="heart-button mx-5">
          <mat-icon style="color: #67dd9d">favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>



