<section id="profile" class="pt-5 mt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!--resume-->
        <div class="card">
          <div class="view overlay hm-white-slight">
            <img class="img-fluid"
                 src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg">
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title mb-2 font-bold"><strong>Alice Mayer</strong></h4>
            <h5 class="indigo-text"><strong>CoachR</strong></h5>

            <h6 class="text-justify"><strong>About:</strong></h6>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
              perferendis quod animi dignissimos...</p>

            <div class="text-right">
              <button type="button" class="btn btn-sm btn-elegant waves-light" mdbRippleRadius>More...</button>
            </div>

            <hr>
            <div class="row">
              <div class="col-md-8 text-left">Followers:</div>
              <div class="col-md-4 text-right"><strong>675</strong></div>
            </div>
            <div class="row">
              <div class="col-md-8 text-left">Following:</div>
              <div class="col-md-4 text-right"><b>234</b></div>
            </div>

            <hr>

            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>

            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>

            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>

          </div>
        </div>
        <!--/resume-->

        <!--rating-->
        <div class="card my-4">
          <div class="card-body text-center">
            <h4 class="card-title">Ratings</h4>

            <hr>


            <!--Carousel Wrapper-->
            <mdb-carousel [isControls]="true" [animation]="'slide'">
              <!--First slide-->
              <mdb-slide class="" >
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide" style="opacity: 0">
                <div class="carousel-caption ">
                  <p><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, velit.</p>
                </div>
              </mdb-slide>
              <!--/First slide-->
              <!--Second slide-->
              <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide" style="opacity: 0">
                <div class="carousel-caption ">
                  <p><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, velit.</p>
                </div>
              </mdb-slide>
              <!--/Second slide-->
              <!--Third slide-->
              <mdb-slide>
                <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide" style="opacity: 0">
                <div class="carousel-caption ">
                  <p><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, velit.</p>
                </div>
              </mdb-slide>
              <!--/Third slide-->
            </mdb-carousel>
            <!--/.Carousel Wrapper-->


            <hr>

            <div>
              <ul class="rating">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star-o"></i></li>
              </ul>
            </div>

          </div>
        </div>
        <!--/rating-->

        <!--achievments-->
        <div class="card my-4">
          <div class="card-body text-center">
            <h4 class="card-title">Achievments</h4>
            <div class="chip">
              <img alt="Ask a question and accept an answer"
                   src="https://d30y9cdsu7xlg0.cloudfront.net/png/158907-200.png"> Scholar
            </div>
            <div class="chip">
              <img alt="Provide non-wiki answers of 15 total score in 20 of top 40 tags"
                   src="https://www.hrglobalindia.com/wp-content/uploads/2015/05/icon3-e1431786925198.png"> Generalist
            </div>
            <div class="chip">
              <img alt=" Accepted answer and score of 40 or more"
                   src="https://d30y9cdsu7xlg0.cloudfront.net/png/359329-200.png"> Guru
            </div>
            <div class="chip">
              <img alt="Answer a question with score of 1 or more"
                   src="https://d30y9cdsu7xlg0.cloudfront.net/png/62983-200.png"> Teacher
            </div>

          </div>
        </div>
        <!--/achievments-->

      </div>

      <div class="col-md-9">
        <!--data section-->
        <div class="card card-cascade narrower">
          <div class="card-body text-center">
            <h4 class="card-title pb-4">Update your data</h4>
            <form novalidate="" class="ng-untouched ng-pristine ng-valid">
              <div class="row">

                <div class="col-md-4">
                  <div class="md-form">
                    <input class="form-control" id="form11" placeholder="johnDoe78" disabled=""
                           type="text">
                    <label class="active disabled" for="form11">Username (can't be changed)</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="md-form">
                    <input class="form-control" id="form12" placeholder="John" type="text">
                    <label class="active" for="form12">First Name</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="md-form">
                    <input class="form-control" id="form13" placeholder="Doe" type="text">
                    <label class="active" for="form13">Last Name</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <input class="form-control" id="form21" mdbactive="" placeholder="" type="text">
                    <label for="form21" class="active">Address line 1</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form">
                    <input class="form-control" id="form22" mdbactive="" placeholder="" type="text">
                    <label for="form22" class="active">Address line 2</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="md-form">
                    <input class="form-control" id="form31" placeholder="New York" type="text">
                    <label class="active" for="form31">City</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="md-form">
                    <input class="form-control" id="form32" placeholder="00432" type="text">
                    <label class="active" for="form32">Postcode</label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="md-form">
                    <input class="form-control" id="form33" mdbactive="" type="text">
                    <label for="form33" class="">Country</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">

                  <div class="md-form">
                    <textarea class="md-textarea" id="form76" mdbactive=""
                              type="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores hic iusto libero mollitia nulla, sed sint totam. Ad, adipisci nobis?</textarea>
                    <label for="form76" class="active">Bio</label>
                  </div>
                </div>
              </div>


              <div class="text-center">
                <button type="button" class="btn btn-elegant waves-light" mdbRippleRadius>Update</button>
              </div>

            </form>
          </div>
        </div>
        <!--/data section-->

        <!--forceDirectedGraph section-->
        <div class="card my-4">

          <!--Card content-->
          <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title">Card title</h4>
            <!--forceDirectedGraph-->

            <div class="mb-3" style="display: block">
              <canvas mdbChart
                      [chartType]="chartType"
                      [datasets]="chartDatasets"
                      [labels]="chartLabels"
                      [colors]="chartColors"
                      [options]="chartOptions"
                      [legend]="true"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
              </canvas>
            </div>

          </div>

        </div>
        <!--/forceDirectedGraph section-->

      </div>
    </div>
  </div>
</section>
