<!--<div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-3">-->

      <!--&lt;!&ndash;Image&ndash;&gt;-->
      <!--<div mdbRippleRadius class="view overlay ">-->
        <!--<img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(50).jpg"-->
             <!--alt="Minor sample post image" class="small-image">-->
        <!--<a>-->
          <!--<div class="mask"></div>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;Excerpt&ndash;&gt;-->
    <!--<div class="col-md-9">-->
      <!--<p><strong class="dark-grey-text">26/02/2016</strong></p>-->
      <!--<a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, sint.-->
        <!--<i class="fa fa-angle-right"></i>-->
      <!--</a>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;/Small news&ndash;&gt;-->
<!--<hr>-->
<!--&lt;!&ndash;Small news&ndash;&gt;-->
<!--<div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-3">-->

      <!--&lt;!&ndash;Image&ndash;&gt;-->
      <!--<div mdbRippleRadius class="view overlay ">-->
        <!--<img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"-->
             <!--alt="Minor sample post image" class="small-image">-->
        <!--<a>-->
          <!--<div class="mask"></div>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;Excerpt&ndash;&gt;-->
    <!--<div class="col-md-9">-->
      <!--<p><strong class="dark-grey-text">25/02/2016</strong></p>-->
      <!--<a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, impedit!-->
        <!--<i class="fa fa-angle-right"></i>-->
      <!--</a>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;/Small news&ndash;&gt;-->
<!--<hr>-->
<!--&lt;!&ndash;Small news&ndash;&gt;-->
<!--<div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-3">-->

      <!--&lt;!&ndash;Image&ndash;&gt;-->
      <!--<div mdbRippleRadius class="view overlay ">-->
        <!--<img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Minor sample post image"-->
             <!--class="small-image">-->
        <!--<a>-->
          <!--<div class="mask"></div>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;Excerpt&ndash;&gt;-->
    <!--<div class="col-md-9">-->
      <!--<p><strong class="dark-grey-text">24/02/2016</strong></p>-->
      <!--<a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae dolores.-->
        <!--<i class="fa fa-angle-right"></i>-->
      <!--</a>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;/Small news&ndash;&gt;-->
<!--<hr>-->
<!--&lt;!&ndash;Small news&ndash;&gt;-->
<!--<div>-->

  <!--<div class="row">-->
    <!--<div class="col-md-3">-->

      <!--&lt;!&ndash;Image&ndash;&gt;-->
      <!--<div mdbRippleRadius class="view overlay ">-->
        <!--<img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(26).jpg"-->
             <!--alt="Minor sample post image" class="small-image">-->
        <!--<a>-->
          <!--<div class="mask"></div>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;Excerpt&ndash;&gt;-->
    <!--<div class="col-md-9">-->
      <!--<p><strong class="dark-grey-text">23/02/2016</strong></p>-->
      <!--<a>Duis aute irure dolor in reprehenderit in voluptate.-->
        <!--<i class="fa fa-angle-right"></i>-->
      <!--</a>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
