<!--Card-->
<div class="card card-personal">

  <!--Card image-->
  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(29).jpg" alt="Card image cap">
  <!--Card image-->

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <a><h4 class="card-title title-one">Clara</h4></a>
    <p class="card-meta">Joined in 2013</p>

    <!--Text-->
    <p class="card-text">Clara is an photographer living in Madrid.</p>
    <hr>
    <a class="card-meta"><span><i class="fa fa-user mr-1"></i>22 Friends</span></a>
  </div>
  <!--Card content-->

</div>
<!--Card-->
