/* You can add global styles to this file, and also import other style files */

$dark-bg : #000000;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.black {
  background-color: $dark-bg;
}

// for some fucking reason the navbar part has to be there, I hate you mdb
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: $dark-bg !important;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: $dark-bg !important;
  }
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: $dark-bg !important;
}


