<div>


  <div class="card my-4">
    <div class="card-body text-center">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Name">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Fitness Level">
            <mat-option *ngFor="let level of exerciseLevelList" [value]="level">
              {{ level }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Workout Duration">
            <mat-option *ngFor="let duration of workoutDurations" [value]="duration">
              {{ duration }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Type of Workout">
            <mat-option *ngFor="let type of exerciseTypeList" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Workout Goals">
            <mat-option *ngFor="let goal of workoutGoals" [value]="goal.value">
              {{ goal.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Access to Gym">
            <mat-option [value]="true">
              Yes
            </mat-option>
            <mat-option [value]="false">
              No
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>

      <form class="py-2">
        <div class="btn-group-justified">
          <label class="btn btn-elegant waves-light" name="reset" mdbCheckbox mdbRippleRadius (click)="resetForm()">
            Reset
          </label>
          <label class="btn btn-elegant waves-light" name="submit" mdbCheckbox mdbRippleRadius (click)="generateWorkout()">
            Submit
          </label>
        </div>
      </form>
    </div>
  </div>

  <!--<div class="row">-->
  <!--<div class="col-4">-->
  <!--<div class="single-question">Name :</div>-->
  <!--<div class="single-question">Fitness Level :</div>-->
  <!--<div class="single-question">Length of Workout :</div>-->
  <!--<div class="single-question">Type of Workout :</div>-->
  <!--<div class="single-question">Workout Goals :</div>-->
  <!--<div class="single-question">Access to Equipment?</div>-->
  <!--</div>-->
  <!--<div class="col-8">-->

  <!--<div class="single-question">toto</div>-->
  <!--<div class="single-question">-->
  <!--<mat-radio-group>-->
  <!--<mat-radio-button value="1">Option 1</mat-radio-button>-->
  <!--<mat-radio-button value="2">Option 2</mat-radio-button>-->
  <!--</mat-radio-group>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

</div>
